<div class="card">
    <div class="card-container">
        <div class="shadow-3 flex flex-column card-container">
            <div class="flex align-items-center justify-content-center h-4rem bg-red-500 font-bold text-white border-round p-2"> YouTube App</div>
        </div>
        <!-- <div class="flex flex-row justify-content-between m-5">
            <div class="w-10">
                <span class="p-float-label">
                    <input class="w-10" id="float-input" type="text" pInputText [formControl]="urlControl">
                    <label for="float-input">New URL Link</label>
                </span>
                <p class="text-red-500" *ngIf="urlControl.hasError('invalidLink')">The URL not valid</p>
                <p class="text-red-500" *ngIf="urlControl.hasError('required')&& (urlControl.dirty || urlControl.touched)">The URL is requierd!</p>
            </div>
            <p-button [disabled]="!isUrlControlValid" label="Add" icon="pi pi-check" iconPos="right"></p-button>
        </div> -->
    </div>
</div>